@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Giang Sơn Cinema</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton">
    <meta name="description" content="Giang Sơn Cinema">
    <meta name="author" content="Themeton">
    <!-- Favicon -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="~/Admin/vendors/images/Untitled-1.webp" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="~/css/auth-style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="~/User/css/packages.min.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="sticky-menu">
    <div id="loader">
        <div class="loader-ring">
            <div class="loader-ring-light"></div>
            <div class="loader-ring-track"></div>
        </div>
    </div>
    
    <!-- Overlay Search -->
    <div id="overlay-search" style="font-family: 'Arial', 'Roboto', sans-serif;">
        <form method="get" action="./">
            <input type="text" name="s" placeholder="Tìm kiếm..." autocomplete="off">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <a href="~/User/javascript:;" class="close-window"></a>
    </div>
    <div class="wrapper" style="font-family: 'Arial', 'Roboto', sans-serif;">


        <header id="header" class="menu-top-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-4">
                        <a href="./" id="logo" title="Tenguu" class="logo-image" data-bg-image="~/User/images/logo.png">
                            Tenguu
                        </a>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-8 phl0">
                        <div class="header_author">

                            @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null)
                            {
                                <span>Chào, @HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
                                <a asp-controller="User" asp-action="Logout" class="ml-3">Đăng xuất</a>
                            }
                            else
                            {

                                <a asp-controller="User" asp-action="Login">Đăng nhập</a>
                                <a asp-controller="User" asp-action="Register" class="ml-3">Đăng ký</a>
                            }                          
                        </div>
                        <div class="header_ticket">
                            <a href="#order" class="order_btn">Vé của tôi</a>
                            <a asp-action="GetUserBillHistory" asp-controller="Home" class="btn btn-primary">Lịch Sử Giao Dịch</a>
                            <span>3</span>
                        </div>
                        <a href="javascript:;" id="header-search"></a>
                        <div class="button_container" id="toggle">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                        <div class="overlay" id="overlay">
                            <a href="javascript:;" class="close-window"></a>
                            <nav class="overlay-menu">
                                <ul>
                                    <li><a href="./">Trang chủ</a></li>
                                    <li><a href="~/User/blog.html">Blog</a></li>
                                    <li><a href="~/User/single.html">Chi tiết</a></li>
                                    <li><a href="#order" class="order_btn">Đặt vé</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()
        <footer id="footer">
            <div class="container footer-container">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="widget">
                            <h5 class="widget-title">Menu</h5>
                            <ul class="menu">
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Sắp ra mắt</a></li>
                                <li><a href="#">Đặt vé</a></li>
                                <li><a href="#">Điều khoản dịch vụ</a></li>
                                <li><a href="#">Bảng giá</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <div class="social-links">
                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h5 class="widget-title">Thông tin địa chỉ</h5>
                            <p>
                                California. AMC Dine-In Theatres Marina,
                                Đường 26, Quận 543 #108
                            </p>
                            <p>
                                <i class="fa fa-mail"></i> Example@mail.com<br>
                                <i class="fa fa-phone"></i> + 123 456 7890
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="widget">
                            <h5 class="widget-title">Để lại tin nhắn</h5>
                            <form class="contact_form transparent">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="text" class="inputValidation" name="name" placeholder="Họ và tên *">
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="text" class="inputValidation" name="email" placeholder="Email *">
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea class="inputValidation" placeholder="Nội dung tin nhắn *"></textarea>
                                        <button type="submit" class="button fill rectangle">Gửi cho chúng tôi</button>
                                    </div>
                                </div>
                            </form>
                            <div class="errorMessage"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row copyright-text">
                        <div class="col-sm-12 text-center">
                            <p class="mv3 mvt0">&copy; Bản quyền 2017 Tenguu. Mọi quyền được bảo lưu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Chatbot -->
        <!-- Nhúng Partial View của chatbot -->
        @Html.Partial("_Chatbot")
        
    </div>
    <!-- Include jQuery and Scripts -->
    <script type="text/javascript" src="~/User/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/User/js/packages.min.js"></script>
    <script type="text/javascript" src="~/User/js/scripts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- jQuery easing plugin -->
</body>
</html> 